.Main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 85vh;
}

.Today-forecast,
.Additional-info,
.Week-forecast{
    background-color: rgb(27, 27, 27);
    margin: 3px;
    border-radius: 20px;
    padding: 1.5em;
}

.Current-weather {
    grid-area: 1 / 1 / 2 / 3;
    background-color: transparent !important;
    margin: 3px;
    border-radius: 20px;
    padding: 1.5em;
}

.Week-forecast{
    grid-area: 1/3/4/4;
}

.Today-forecast{
    grid-area: 2/1/3/3;
}

.Additional-info{
    grid-area: 3/1/4/3;
}