
.Today-forecast {
  margin-top: 2rem;
}

.Today-forecast .widget-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 0.5rem;
  padding-top: 1.5rem;
}

.Today-forecast .widget-container .widget {
  position: relative;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.75rem;
  margin-right: 0.75rem;

  min-width: 115px;

  border: 1px solid var(--secondary-text-color);
  border-radius: 1rem;
}

.Today-forecast .widget-container .widget .day {
  position: absolute;
  top: -1.5rem;
}

.Today-forecast .widget-container .widget .icon-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.75rem 0;
}

.Today-forecast .widget-container .widget .icon-temp img {
  width: 40px;
  margin-right: 0.25rem;
}

.Today-forecast .widget-container .widget .wind {
  margin-top: 0.25rem;
  display: flex;
}

.Today-forecast .widget-container .widget .wind .speed {
  margin-right: 0.25rem;
}

.Today-forecast .widget-container .widget .wind .wind-dir {
  font-size: 0.8rem;
  margin-left: 0.25rem;
}

.Today-forecast .widget-container .widget{
  border: 1px solid rgba(255, 255, 255, 0.534);
}

.Additional-info .Details{
  margin-top: 20px;
  display: flex;
  overflow: hidden;
  gap: 70px;
  background-color: rgb(15, 15, 15);
  padding-block: 2em;
  padding-inline: 1em;
  border-radius: 20px;
}

.Additional-info .value, 
.Additional-info .name{
  white-space: nowrap;
}

.Additional-info .widget-container{
  display: flex;
  align-items: center;
  gap: 6px;
}

.Additional-info .widget-container .icon{
  font-size: 30px;
}

/*-------------------------------------------*/

.Week-forecast .widget{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-block: 1.5em;
}

.Week-forecast .temperature{
  display: flex;
  justify-content: space-between;
}